

header{
	color: orange;
}

header, main, nav, footer, table, div {
	text-align: center;
}

nav a {
	display: inline-block;
	height: 40px;
	padding: 15px;
	padding-bottom:4px;
	font-size: 1.3em;
	text-decoration: none;
	color: white;
	margin: 10px;
	background-color: #3B3B3B;
	border: 1px solid #3B3B3B;
	border-radius: 10px;
}

nav a:hover {
	border-bottom: 2px orange solid;
	color: orange;
	transition: .9s;
}

body{
	background-color:black;
	color:white;
}

#interests a {
	display: inline-block;
	height: 40px;
	padding: 15px;
	padding-bottom:4px;
	font-size: 1.3em;
	text-decoration: none;
	color: white;
	margin: 10px;
	background-color: #3B3B3B;
	border: 1px solid #3B3B3B;
	border-radius: 10px;
}

#interests :hover {
	border-bottom: 1px orange solid;
	color: orange;
	transition: .4s;
}


footer {
	font-size: 0.7em;
	color: green;
}

main {
	display: flex;
	justify-content: center;
}

table{
	margin: 0px auto;
}

td{
	padding-right: 10px;
	font-size: 1.3em;
}

td strong {
	color: orange;
}

#table-header {
	background-color: #351a00;
}

.table-row {
	background-color: #753900;
}

ul {
	width: 500px;
	margin: 0 auto;
	text-align: left;
}

.hobby {
	color: yellow;
}

body {
  font-family: "Open Sans", sans-serif;
  font-optical-sizing: auto;
  font-weight: 300;
  font-style: normal;
  font-variation-settings:
    "wdth" 100;
}

h1 {
  font-family: "Open Sans", sans-serif;
  font-optical-sizing: auto;
  font-weight: 300;
  font-style: normal;
  font-variation-settings:
    "wdth" 100;
}

iframe {
	border: none;
	width: 640px;
	height: 959px;
	margin: 0;
}


